.startCon {
  width: 100%;
  height: 100vh;
  position: relative;
  // top: 30%;



  .main-start {
    top: 30%;
    width: 100%;
    // height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-x: hidden;

    .godCon {
      .for-god {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;


        .god-text {
          mix-blend-mode: difference;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          z-index: 3;
          outline: none;


          h1 {
            font-size: 69px;
            font-weight: 400;
            background: inherit;
            color: #fff;

          }
        }

        .text-vid {
          display: flex;
          flex-wrap: wrap;
          // justify-content: center;
          // align-items: center;
          width: 100%;
          gap: 4rem;
          top: 20%;
          // position: absolute;

          .text-side {
            display: flex;
            flex-direction: column;
            width: 60%;
            word-spacing: 4px;

            h3,
            p {
              padding: 10px;
            }

            p {
              font-size: 18px;
              font-family: 'GTAmerica1';
              font-weight: 100;
            }

            h3 {
              font-family: 'GTAmerica';
              font-weight: 100;
              font-size: 15px;
            }

          }

          .video-side {
            display: flex;
            width: 35%;
            height: 24rem;
            position: relative;
            bottom: 18%;

            .video {
              width: 100%;
              height: 100%;
              position: absolute;

              video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;

              }
            }

            .difference {
              width: 100%;
              height: 100%;
              position: absolute;
              mix-blend-mode: difference;
            }
          }
        }
      }
    }

    .jesusCon {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 11%;
      margin-top: 9rem;
      position: relative;


      .jesus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;



        h1 {
          font-size: 55px;
          font-weight: 400;
        }

        .jesus-text {
          width: 40%;

          p {
            font-size: 16px;
            font-family: 'GTAmerica1';
            font-weight: 100;

            b {
              font-size: 14px;
              font-family: 'GTAmerica1';
              font-weight: 700;
            }
          }
        }
      }
    }

    .kingdomCon {
      margin-top: 5rem;
      margin-bottom: 5rem;
      overflow: hidden;


      .kingdom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 5rem;


        // align-items: center;

        .kingdom-text {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          text-align: left;
          width: 100%;
          left: 10%;
          margin-top: 5rem;
          position: relative;

          h6 {
            color: #6b7280;
          }

          h1 {
            font-size: 63px;
            // font-weight: 600;
          }

        }

        .kingdom-pics {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2rem;
          justify-content: center;
          align-items: center;

          .k-pics {
            position: relative;
            flex: 1 1 20%;
            height: 450px;
            overflow: hidden;
            max-width: calc(20% - 7px);

            img {
              position: absolute;
              z-index: 2;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s ease-in-out;

            }

            .k-contents {
              position: absolute;
              width: 100%;
              z-index: 3;
              padding: 10px 20px;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1));
              bottom: -100px;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              h6,
              h1,
              p {
                width: 89%;
                // font-weight: 200;
              }

              h1 {
                font-size: 47px;
                font-weight: 200;
                color: #fff;
              }

              .color {
                color: #3b82f6;
                font-size: 10px;
              }

              h6 {
                color: 11px;
                color: #6b7280;
              }

              p {
                color: #fff;
                font-size: 12px;
                font-family: 'GTAmerica1';
                font-weight: 100;
              }

            }

            &:after {
              content: "";
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 1));
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              z-index: 2;
              opacity: 0;
            }

            &:hover:after {
              opacity: 0.7;
            }

            &:hover .k-contents {
              bottom: 0;
              background: transparent;
            }

            &:hover.k-pics {
              img {
                transform: scale(1.04);
              }
            }
          }

          // .kp2{
          //     .k-contents{
          //         bottom: -82px;
          //     }
          // }
        }
      }
    }

    .us-picsCon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      // overflow-x: hidden;
      background: #fff;
      color: #fff;

      .us-pics {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        .pics {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 95%;
          height: 46rem;

          .uspic1 {
            width: 95%;
            height: 92%;
            right: 2%;
            bottom: 3%;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;


            }
          }

          .uspic2 {
            position: absolute;
            width: 96%;
            height: 92%;
            left: 4%;

            // display: none;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;


            }

            .overlaid {
              opacity: 1;
              position: absolute;
              // mix-blend-mode:difference;
              background: rgba(0, 0, 0, .3);
              z-index: 3;
              // left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }


        .uspic-contents {
          opacity: 1;
          position: absolute;
          mix-blend-mode: normal;
          // background: rgba(0, 0, 0, .1);
          z-index: 6;
          width: 40%;
          left: 10%;
          padding: 60px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          overflow: hidden;



          h1 {
            font-size: 57px;
          }

          p {
            font-size: 14px;
            font-family: 'GTAmerica1';
            font-weight: 100;

          }

          .arr {
            visibility: hidden;
          }


          .location-drop {

            // opacity: 0;
            display: flex;
            flex-direction: row;
            gap: 1.5rem;




            .dropdown {
              width: max-content;
              position: relative;
              z-index: 100;


              .drop-btn {
                background: none;
                border: none;
                color: white;
                font-size: 14px;
                font-family: 'GTAmerica';
                font-weight: 100;
              }

              .menu {
                opacity: 0;
                //    top: 15px;
                //    bottom: 0;
                height: 0;
                position: absolute;
                z-index: 101;
                transition: 1.2s ease-in-out;
                //    bottom: 15px;
                overflow: hidden;


                a {
                  font-size: 14px;
                  font-family: 'GTAmerica1';
                  color: #fff;
                }

              }

              &:hover {
                .menu {
                  opacity: 1;
                  height: 3rem;
                }
              }

            }

          }



        }
      }
    }

    .signupCon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      padding: 1rem 0;
      background-color: #000;
      color: #fff;

      .signUp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 50%;
        margin-bottom: 2rem;

        h2 {
          font-size: 17px;
          font-family: 'GTAmerica';
          font-weight: 100;
        }

        p {
          font-family: 'GTAmerica1';
          font-size: 18px;
          padding: 0 10px;
          text-align: center;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 95%;
          gap: 5px;

          label {
            font-size: 19px;
          }

          input {
            font-size: 20px;
            margin-bottom: 19px;
            height: 2.5rem;
            color: #000;
            background: white;
            padding: 5px;
            outline: 0;
            border: none;
          }

          button {
            width: 7rem;
            height: 2.5rem;
            margin-top: 2rem;
            background: transparent;
            font-size: large;
            font-weight: 600;
            border: 1px solid #ffd700;
            color: #fff;

            &:hover {
              transform: translateY(-5px);
              background: #ffd700;
              color: black;

            }

          }

        }
      }
    }

    .welcomeCon {
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      background: #fff;

      .welcome {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 43rem;
        gap: 4rem;
        // position: relative;

        .welcome-left {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          flex: 1 1 40%;
          align-items: center;

          h1,
          p,
          h3 {
            color: #000;


          }

          .wel-top {
            padding-left: 10px;
            left: 10%;
            position: relative;

            h1 {
              font-size: 51px;
              font-weight: 700;
            }
          }

          .wel-down {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 61%;
            left: 10%;
            position: relative;

            p {
              font-size: 18px;
              font-family: 'GTAmerica1';
              font-weight: 100;
            }

            h5 {
              font-family: 'GTAmerica';
              font-weight: 100;
              color: black;
            }


            .location-drop {

              // opacity: 0;
              display: flex;
              flex-direction: row;

              gap: 1.5rem;




              .dropdown {
                width: max-content;
                display: relative;
                z-index: 100;

                .drop-btn {
                  background: none;
                  border: none;
                  color: #000;
                  // font-weight: 600;
                  font-size: 14px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-family: 'GTAmerica';
                  font-weight: 100;
                }

                .menu {
                  opacity: 0;

                  height: 1%;
                  position: absolute;
                  z-index: 7;
                  transition: all 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                  //    bottom: 15px;
                  overflow: hidden;
                  mix-blend-mode: difference;

                  a {
                    font-size: 18px;
                    color: #000;
                    font-weight: 400;
                    line-height: 150%;
                    mix-blend-mode: difference;
                    font-family: 'GTAmerica1';
                    font-weight: 100;
                  }

                }

                &:hover {
                  .menu {
                    opacity: 1;
                    height: 100%;

                  }
                }

              }

            }
          }


        }

        .welcome-right {
          flex: 2 1 50%;
          height: 100%;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .growCon {
      .grow {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        overflow: hidden;
        gap: 2rem;

        .grow-top {
          display: flex;
          // flex-direction: column;
          // justify-content: center;
          text-align: left;
          width: 85%;
          // left: 10%;
          flex-wrap: wrap;
          // margin-top: 5rem;
          position: relative;

          h1 {
            left: 10%;
            font-size: 63px;
            position: relative;
          }


        }

        .grow-bot {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          justify-content: center;
          align-items: center;

          .k-pics {
            position: relative;
            flex: 1 1 20%;
            height: 470px;
            overflow: hidden;
            max-width: calc(27% - 7px);

            img {
              position: absolute;
              z-index: 2;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s ease-in-out;
            }

            .k-contents {
              position: absolute;
              width: 100%;
              z-index: 3;
              padding: 10px 20px;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1));
              bottom: -110px;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              h6,
              h1,
              p {
                width: 90%;
                font-weight: 200;
              }

              h1 {
                font-size: 47px;
                font-weight: 200;
                color: #fff;

              }

              .color {
                color: #3b82f6;
                font-size: 10px;
              }

              h6 {
                color: 11px;
                color: #6b7280;
              }

              p {
                color: #fff;
                font-size: 12px;
                font-family: 'GTAmerica1';
                font-weight: 100;
              }
            }

            &:after {
              content: "";
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1));
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              z-index: 2;
              opacity: 0;
            }

            &:hover:after {
              opacity: 0.7;
            }

            &:hover .k-contents {
              bottom: 0;
              background: transparent;
            }

            &:hover.k-pics {
              img {
                transform: scale(1.04);
              }
            }
          }

        }
      }
    }

    .holderCon {
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      overflow: hidden;

      .holder {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40rem;
        gap: 3rem;

        .holder-left {
          right: 5%;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          flex: 1 1 39%;
          // width: 500px;
          align-items: center;


          .hol-top {
            padding-left: 10px;
            width: 90%;
            right: 7%;
            // mix-blend-mode: difference;
            position: relative;

            h1 {
              font-size: 59px;
              font-weight: 400;
            }
          }

          .hol-down {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 70%;
            // right: 2%;
            position: relative;

            h3 {
              font-size: 17px;
              font-family: 'GTAmerica';
              font-weight: 100;
            }

            p {
              font-size: 17px;
              font-family: 'GTAmerica1';
              font-weight: 100;
            }

            a {
              font-size: 14px;
            }
          }
        }

        .holder-right {
          flex: 2 1 20%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .start-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      .text {
        text-align: center;
        width: 53%;
        word-spacing: 3px;

        h4 {
          // font-weight: 600;
          font-size: 14px;
          font-family: 'GTAmerica';
          font-weight: 100;
        }
      }
    }

    .communityCon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      color: #fff;

      .community {
        display: flex;
        width: 89%;
        height: 35rem;
        position: relative;

        .pics {
          .over {
            opacity: 1;
            position: absolute;
            // mix-blend-mode:difference;
            background: rgba(0, 0, 0, .4);
            z-index: 3;
            // left: 0;
            width: 100%;
            height: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 2;
          }
        }

        .comm-contents {
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 4;
          left: 9%;
          top: 29%;
          width: 32%;
          // gap: 1rem;

          h1 {
            font-size: 53px;
          }

          p {
            margin-bottom: 1rem;
            font-size: 14px;
            font-family: 'GTAmerica1';
            font-weight: 100;
          }

          a {
            font-size: 14px;
            font-family: 'GTAmerica';
            font-weight: 100;
            color: #fff;
          }

        }


      }
    }

    .selectCon {
      margin-top: 5rem;
      overflow: hidden;

      .select {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        margin-bottom: 5rem;

        .select-top {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          text-align: left;
          width: 80%;
          // left: 10%;
          margin-top: 5rem;
          position: relative;
          gap: 1rem;

          h1,
          h6 {
            left: 10%;
            position: relative;
          }

          h1 {
            font-size: 64px;
            font-weight: 400;
          }

          h6 {
            color: #6b7280;
          }

        }

        .select-bot {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          justify-content: center;
          align-items: center;

          .k-pics {
            position: relative;
            flex: 1 1 25%;
            height: 470px;
            overflow: hidden;
            max-width: calc(45% - 7px);


            img {
              position: absolute;
              z-index: 2;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.5s ease-in-out;
            }

            .k-contents {
              position: absolute;
              // mix-blend-mode: normal;
              width: 100%;
              z-index: 3;
              padding: 10px 20px;
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 1));
              bottom: 0;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              // h6{
              //     width: 90%;
              //     font-weight: 400;
              // }
              h1 {
                font-size: 47px;
                font-weight: 200;
                color: #fff;

              }

              .color {
                color: #3b82f6;
                font-size: 10px;
              }
            }

            h6 {
              color: 11px;
              color: #6b7280;
            }

            p {
              color: #fff;
              font-size: 12px;
              font-family: 'GTAmerica1';
              font-weight: 100;
            }

            &:after {
              content: "";
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1));
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              z-index: 2;
              opacity: 0;
            }

            &:hover:after {
              opacity: 0.7;
            }

            &:hover .k-contents {
              background: transparent;
            }

            &:hover.k-pics {
              img {
                transform: scale(1.04);
              }
            }
          }

        }
      }
    }
  }

}



@media (width <=1300px) {
  .startCon {
    .main-start {
      .godCon {
        .for-god {
          .god-text {
            width: 76%;

            h1 {
              font-size: 67px;
            }
          }

          .text-vid {
            width: 68%;
            gap: 5rem;

          }
        }
      }

      // .selectCon{
      //     .select{
      //         .se
      //     }
      // }
    }
  }
}

@media (width <=1210px) {
  .startCon {
    .main-start {
      .kingdomCon {
        .kingdom {
          .kingdom-pics {
            .k-pics {
              .k-contents {
                bottom: -170px;
              }
            }

          }
        }
      }

      .growCon {
        .grow {
          .grow-bot {
            .k-pics {
              .k-contents {
                bottom: -170px;
              }
            }

          }
        }
      }

      // .selectCon{
      //     .select{
      //         .select-bot{
      //             .k-pics{
      //                 .k-contents{
      //                     bottom: -170px;
      //                 }
      //             }

      //         }
      //     }
      // }
    }
  }

}

@media (width <=1100px) {
  .startCon {
    .main-start {
      .godCon {
        .for-god {
          .god-text {
            width: 95%;

            h1 {
              font-size: 68px;
            }
          }

          .text-vid {
            width: 88%;
            gap: 4rem;

            .text-side {
              width: 40%;

            }

            .video-side {
              width: 49%;

            }
          }

        }
      }

      .jesusCon {
        .jesus {
          .jesus-text {
            width: 50%;
            font-size: 14px;
          }
        }
      }

      .kingdomCon {
        .kingdom {
          justify-content: center;
          align-items: center;

          .kingdom-pics {
            justify-content: unset;
            width: 85%;
            flex-wrap: wrap;

            .k-pics {
              flex: unset;
              max-width: unset;
              width: 47%;

              .k-contents {
                bottom: -131px;

                h6,
                h1,
                p {
                  width: 80%;
                  font-weight: 200;
                }
              }

            }

            .kp3 {
              width: 47%;
              // flex: 2 1 45%;
            }
          }
        }
      }

      .us-picsCon {
        .us-pics {
          .pics {
            .uspic1 {
              width: 92%;
              height: 85%;
            }

            .uspic2 {
              width: 92%;
              height: 85%;
              left: 6%;

              .overlaid {
                background: rgba(0, 0, 0, .5);

              }
            }
          }

          .uspic-contents {
            // bottom: 5%;
            width: 65%;


          }
        }
      }

      .signupCon {
        .signUp {
          width: 80%;
          gap: 2rem;
        }
      }

      .welcomeCon {
        .welcome {
          .welcome-right {
            height: 80%;
          }
        }
      }

      .growCon {
        .grow {
          justify-content: center;
          align-items: center;

          .grow-top {
            h1 {
              left: unset;
            }
          }

          .grow-bot {
            justify-content: unset;
            width: 85%;
            flex-wrap: wrap;

            .k-pics {
              flex: unset;
              max-width: unset;
              width: 47%;

              .k-contents {
                bottom: -148px;

                h6,
                h1,
                p {
                  width: 80%;
                  font-weight: 200;
                }
              }

            }

            .kp3 {
              width: 47%;
              // flex: 2 1 45%;
            }
          }
        }
      }

      .holderCon {
        .holder {
          .holder-left {
            .hol-top {
              right: 9%;
            }

            .hol-down {
              width: 75%;

            }
          }
        }
      }

      .start-text {
        .text {
          width: 73%;
        }
      }

      .selectCon {
        .select {
          justify-content: center;
          align-items: center;

          .select-top {
            width: 85%;

            h1 {
              left: unset;
              font-size: 58px;
            }

            h6 {
              left: unset;

            }
          }

          .select-bot {
            justify-content: unset;
            width: 85%;
            flex-wrap: wrap;

            .k-pics {
              flex: unset;
              max-width: unset;
              width: 47%;

              .k-contents {

                h6,
                h1,
                p {
                  width: 80%;
                  font-weight: 200;
                }
              }

            }

            .kp3 {
              width: 47%;
              // flex: 2 1 45%;
            }
          }
        }
      }
    }
  }
}

@media (width <=940px) {
  .startCon {
    .main-start {
      top: 20%;

      .godCon {
        .for-god {
          .god-text {
            width: 80%;

            h1 {
              font-size: 60px;
            }
          }

          .text-vid {
            width: 88%;
            gap: 3rem;
            height: 74vh;


            .text-side {
              width: 38%;
              height: 100%;
              align-items: center;
              justify-content: center;

              h3,
              p {
                font-weight: 200;
              }
            }

            .video-side {
              width: 49%;
              height: 100%;
              bottom: 5%;
            }
          }

        }
      }

      .jesusCon {
        .jesus {
          h1 {
            font-size: 45px;
            font-weight: 400;
          }

          .jesus-text {
            width: 55%;
            font-size: 14px;
          }
        }
      }

      .kingdomCon {
        .kingdom {
          .kingdom-pics {
            .k-pics {
              .k-contents {
                bottom: -145px;
              }
            }

          }
        }
      }

      .us-picsCon {
        .us-pics {
          .pics {
            .uspic1 {
              width: 92%;
              height: 85%;
            }

            .uspic2 {
              width: 92%;
              height: 85%;
              left: 6%;

              .overlaid {
                background: rgba(0, 0, 0, .5);

              }
            }
          }

          .uspic-contents {
            bottom: 5%;
            width: 65%;
            left: 5%;

          }
        }
      }

      .signupCon {
        .signUp {
          width: 85%;
          gap: 2rem;
        }
      }

      .welcomeCon {
        .welcome {
          //    height: 95vh;

          .welcome-left {
            flex: 1 1 41%;

            h1 {
              font-weight: 500;
              font-size: 37px;
            }

          }

          .welcome-right {
            height: 98%;
          }
        }
      }

      .growCon {
        .grow {
          .grow-bot {
            .k-pics {
              .k-contents {
                bottom: -145px;
              }
            }

          }
        }
      }

      .holderCon {
        .holder {
          .holder-left {
            .hol-top {
              width: 100%;
              right: 7%;
            }
          }
        }
      }

      .start-text {
        .text {
          width: 80%;
        }
      }

      .communityCon {
        .community {
          .comm-contents {
            bottom: 5%;
            width: 55%;
            left: 5%;
            top: unset;
          }
        }
      }

      .selectCon {
        .select {
          .select-top {
            width: 85%;

            h1 {
              font-size: 50px;
            }

            h6 {
              left: unset;

            }
          }
        }
      }
    }
  }
}

@media (width <=875px) {
  .startCon {
    .main-start {
      top: 20%;

      .godCon {
        .for-god {
          .god-text {
            width: 90%;

            h1 {
              font-size: 57px;
            }
          }

          .text-vid {
            width: 88%;
            gap: 3rem;
            height: 71vh;

          }

        }
      }

      .jesusCon {
        .jesus {
          h1 {
            font-size: 42px;
            font-weight: 400;
          }

          .jesus-text {
            width: 58%;
            font-size: 13px;
          }
        }
      }

      .kingdomCon {
        .kingdom {
          .kingdom-pics {
            .k-pics {
              .k-contents {
                bottom: -145px;

                h6,
                h1,
                p {
                  width: 95%;
                  // font-weight: 200;
                }
              }
            }

          }
        }
      }

      .growCon {
        .grow {
          .grow-bot {
            .k-pics {
              .k-contents {
                bottom: -145px;

                h6,
                h1,
                p {
                  width: 95%;
                  // font-weight: 200;
                }
              }
            }

          }
        }
      }

      .selectCon {
        .select {
          .select-bot {
            .k-pics {
              .k-contents {

                h6,
                h1,
                p {
                  width: 95%;
                  // font-weight: 200;
                }
              }
            }

          }
        }
      }
    }
  }
}

@media (width <=860px) {
  .startCon {
    .main-start {
      top: 19%;

      .godCon {
        .for-god {
          .god-text {
            width: 85%;

            h1 {
              font-size: 57px;
            }
          }

          .text-vid {
            width: 88%;
            gap: 3rem;
            height: 71vh;

          }

        }
      }

      .jesusCon {
        .jesus {
          h1 {
            font-size: 42px;
            font-weight: 400;
          }

          .jesus-text {
            width: 58%;
            font-size: 13px;
          }
        }
      }

      .welcomeCon {
        .welcome {
          //    height: 95vh;

          .welcome-left {
            flex: 1 1 46%;

            .wel-down {
              .location-drop {
                .dropdown {
                  .drop-btn {
                    font-size: 14px;
                    // justify-content: unset;
                    // align-items: unset;
                  }
                }
              }
            }



            h1 {
              font-weight: 500;
              font-size: 37px;
            }

          }

          .welcome-right {
            height: 98%;
            flex: 2 1 45%;

          }
        }
      }

      .holderCon {
        .holder {
          .holder-left {
            .hol-top {
              width: 100%;
              right: 7%;

              h1 {
                font-size: 45px;
              }
            }
          }
        }
      }

      .start-text {
        .text {
          width: 85%;
        }
      }
    }
  }
}

@media (width <=780px) {
  .startCon {
    .main-start {
      top: 15%;

      .godCon {
        .for-god {
          .god-text {
            width: 90%;

            h1 {
              font-size: 57px;
            }
          }

          .text-vid {
            width: 88%;
            gap: 3rem;
            height: 70vh;

          }

        }
      }

      .jesusCon {
        .jesus {
          h1 {
            font-size: 40px;
            font-weight: 400;
          }

          .jesus-text {
            width: 60%;
            font-size: 13px;
          }
        }
      }

      .kingdomCon {
        .kingdom {
          .kingdom-pics {
            .k-pics {
              .k-contents {
                bottom: -170px;
              }
            }

          }
        }
      }

      .us-picsCon {
        .us-pics {
          .pics {
            .uspic1 {
              width: 98%;
              height: 75%;
            }

            .uspic2 {
              width: 98%;
              height: 75%;
              left: 3%;

              .overlaid {
                background: rgba(0, 0, 0, .5);

              }
            }
          }

          .uspic-contents {
            bottom: 5%;
            width: 65%;


          }
        }
      }

      .growCon {
        .grow {
          .grow-bot {
            .k-pics {
              .k-contents {
                bottom: -170px;
              }
            }

          }
        }
      }

      .selectCon {
        .select {
          .select-top {
            width: 85%;

            h1 {
              font-size: 45px;
            }

            h6 {
              left: unset;

            }
          }
        }
      }
    }
  }
}

@media (width <=767px) {
  .startCon {
    .main-start {
      top: 25%;

      .godCon {
        .for-god {
          gap: 2rem;

          .god-text {
            position: relative;
            width: 80%;

            // left: 5%;
            h1 {
              font-size: 43px;
            }
          }

          .text-vid {
            flex-direction: column-reverse;
            width: 82%;
            gap: 2rem;
            height: unset;
            // border: 1px solid white;
            position: relative;
            // left: 2%;

            .text-side {
              width: 73%;
              height: 100%;
              align-items: center;
              justify-content: center;


              p {
                font-weight: 200;
              }

              h3 {
                font-weight: 400;

              }
            }

            .video-side {
              width: 95%;
              height: 47vh; // bottom: unset;

              .video {
                position: relative;

                video {
                  position: relative;
                }
              }
            }

          }

        }
      }

      .kingdomCon {
        .kingdom {
          justify-content: center;
          align-items: center;

          .kingdom-pics {
            justify-content: center;
            width: 85%;
            flex-wrap: wrap;

            .k-pics {
              flex: unset;
              max-width: unset;
              width: 90%;
              height: 55vh;

              .k-contents {
                bottom: 0;

                h6,
                h1,
                p {
                  width: 100%;
                  font-weight: 200;
                }

                p {
                  display: none;
                }

                h1 {
                  font-size: 32px;
                }
              }

            }

            .kp3 {}
          }
        }
      }

      .us-picsCon {
        .us-pics {
          flex-direction: column;
          justify-content: unset;
          align-items: unset;
          gap: 1rem;

          .pics {
            height: 60vh;
            width: 100%;

            .uspic1 {
              width: 95%;
              height: 90%;
            }

            .uspic2 {
              width: 95%;
              height: 90%;
              left: 3%;

              .overlaid {
                background: rgba(0, 0, 0, .5);

              }
            }
          }

          .uspic-contents {
            position: relative;
            bottom: 5%;
            width: 60%;
            left: 1%;
            color: black;
            padding: unset;

            h1,
            p {
              color: black;

            }

            h1 {
              font-size: 36px;
              font-weight: 400;
            }

            p {
              font-size: 16px;
            }

            .location-drop {
              display: none;
            }

            .arr {
              visibility: visible;
              color: black;
              font-size: 25px;
              font-weight: 400;
            }
          }
        }
      }

      .welcomeCon {
        .welcome {
          height: unset;
          flex-direction: column-reverse;
          justify-content: unset;
          align-items: unset;
          //    margin-top: 1rem;
          margin-bottom: 5rem;

          .welcome-left {
            flex: unset;
            // height: 45%;
            align-items: unset;
            padding-left: 2rem;

            .wel-top {
              left: 0;

              h1 {
                font-size: 35px;
              }
            }

            .wel-down {
              width: 76%;
              left: 8%;

              p {
                font-size: 17px;
              }
            }

            h1 {
              font-weight: 500;
              // font-size: 37px;
            }

          }

          .welcome-right {
            height: 59vh;
            flex: unset;

          }
        }
      }

      .growCon {
        .grow {
          justify-content: center;
          align-items: center;

          .grow-bot {
            justify-content: center;
            width: 85%;
            flex-wrap: wrap;

            .k-pics {
              flex: unset;
              max-width: unset;
              width: 90%;
              height: 55vh;

              .k-contents {
                bottom: 0;

                h6,
                h1,
                p {
                  width: 100%;
                  font-weight: 200;
                }

                p {
                  display: none;
                }

                h1 {
                  font-size: 32px;
                }
              }

            }

            .kp3 {}
          }
        }
      }

      .holderCon {
        .holder {
          height: unset;
          flex-direction: column-reverse;
          justify-content: unset;
          align-items: unset;
          //    margin-top: 1rem;
          margin-bottom: 5rem;

          .holder-left {
            flex: unset;
            // height: 45%;
            align-items: unset;
            padding-left: 2rem;

            .hol-top {
              left: 0;

              h1 {
                font-size: 35px;
              }
            }

            .hol-down {
              width: 76%;
              left: 8%;

              p {
                font-size: 17px;
              }
            }

            h1 {
              font-weight: 500;
              font-size: 37px;
            }

          }

          .holder-right {
            height: 59vh;
            flex: unset;

          }
        }
      }

      .communityCon {
        color: #000;

        .community {
          flex-direction: column;
          justify-content: unset;
          align-items: unset;
          gap: 2rem;
          height: unset;

          .pics {
            height: 35vh;
            width: 100%;
            position: relative;

            .img {
              width: 95%;
              height: 90%;
              position: relative;
            }
          }

          .comm-contents {
            position: relative;
            bottom: 0%;
            width: 60%;
            left: 1%;
            padding: unset;


            h1 {
              font-size: 36px;
              font-weight: 400;
            }

            p {
              font-size: 16px;
            }

            a {
              color: #000;

            }

          }
        }
      }

      .selectCon {
        .select {
          justify-content: center;
          align-items: center;

          .select-bot {
            justify-content: center;
            width: 85%;
            flex-wrap: wrap;

            .k-pics {
              flex: unset;
              max-width: unset;
              width: 90%;
              height: 55vh;

              .k-contents {

                h6,
                h1,
                p {
                  width: 100%;
                  font-weight: 200;
                }

                p {
                  display: none;
                }

                h1 {
                  font-size: 32px;
                }
              }

            }

            .kp3 {}
          }
        }
      }
    }
  }
}

@media (width <=700px) {
  .startCon {
    .main-start {
      .kingdomCon {
        .kingdom {
          .kingdom-pics {
            .k-pics {
              width: 100%;
              height: 75vh;

              .k-contents {}
            }

          }
        }
      }

      .us-picsCon {
        width: 100%;

        .us-pics {
          flex-direction: column;
          justify-content: unset;
          align-items: unset;
          gap: 1rem;

          .pics {
            height: 50vh;
            width: 100%;

            .uspic1 {
              width: 95%;
              height: 90%;
            }

            .uspic2 {
              width: 95%;
              height: 90%;
              left: 3%;

              .overlaid {
                background: rgba(0, 0, 0, .5);

              }
            }
          }

          .uspic-contents {
            position: relative;
            bottom: 5%;
            width: 60%;
            left: 1%;
            color: black;
            padding: unset;

            h1,
            p {
              color: black;

            }

            h1 {
              font-size: 36px;
              font-weight: 400;
            }

            p {
              font-size: 16px;
            }

            .location-drop {
              display: none;
            }

            .arr {
              visibility: visible;
              color: black;
              font-size: 25px;
              font-weight: 400;
            }
          }
        }
      }

      .growCon {
        .grow {
          .grow-bot {
            .k-pics {
              width: 100%;
              height: 75vh;

            }

          }
        }
      }

      .selectCon {
        .select {
          .select-bot {
            .k-pics {
              width: 100%;
              height: 75vh;

            }

          }
        }
      }
    }
  }

}

@media (width <=600px) {
  .startCon {
    .main-start {
      top: 18%;

      .godCon {
        .for-god {
          gap: 1.5rem;
          overflow-x: hidden;

          .god-text {
            position: relative;
            width: 90%;
            left: unset;

            h1 {
              font-size: 49px;
            }
          }

          .text-vid {
            flex-direction: column-reverse;
            width: 90%;
            gap: 2rem;
            height: unset;
            position: relative;
            // align-items: center;
            // justify-content: center;
            left: 1%;
            overflow: hidden;

            .text-side {
              width: 81%;
              height: 100%;
              align-items: center;
              justify-content: center;


              p {
                font-weight: 200;
              }

              h3 {
                font-weight: 500;

              }
            }

            .video-side {
              width: 100%;
              height: 38vh; // bottom: unset;

              .video {
                position: relative;

                video {
                  position: relative;
                }
              }
            }

          }

        }
      }

      .jesusCon {
        width: 100%;
        // border: 1px solid white;

        .jesus {
          text-align: left;
          width: 100%;
          position: relative;
          left: 2%;

          h1 {
            font-size: 37px;
            font-weight: 300;
            width: 93%;

          }

          .jesus-text {
            width: 90%;
            font-size: 15px;
            word-spacing: 3px;
          }
        }
      }

      .kingdomCon {

        // justify-content: center;
        // align-items: center;
        .kingdom {
          width: 100%;

          .kingdom-text {
            h1 {
              font-size: 32px;

            }
          }

          .kingdom-pics {
            width: 85%;
            overflow-x: hidden;

            .k-pics {
              width: 100%;
              height: 40vh;

              .k-contents {}
            }

          }
        }
      }

      .us-picsCon {
        width: 100%;

        .us-pics {
          flex-direction: column;
          justify-content: unset;
          align-items: unset;
          gap: 1rem;

          .pics {
            height: 40vh;
            width: 100%;

            .uspic1 {
              width: 95%;
              height: 90%;
            }

            .uspic2 {
              width: 95%;
              height: 90%;
              left: 3%;
              top: 9%;

              .overlaid {
                background: rgba(0, 0, 0, .5);

              }
            }
          }

          .uspic-contents {
            position: relative;
            bottom: 5%;
            width: 79%;
            left: 5%;
            color: black;
            padding: unset;

            h1,
            p {
              color: black;

            }

            h1 {
              font-size: 30px;
              font-weight: 400;
            }

            p {
              font-size: 16px;
            }

            .location-drop {
              display: none;
            }

            .arr {
              visibility: visible;
              color: black;
              font-size: 25px;
              font-weight: 400;
            }
          }
        }
      }

      .welcomeCon {
        .welcome {
          .welcome-right {
            height: 45vh;
          }
        }
      }

      .growCon {
        .grow {
          width: 100%;

          .grow-top {
            h1 {
              font-size: 32px;

            }
          }

          .grow-bot {
            width: 85%;
            overflow-x: hidden;

            .k-pics {
              width: 100%;
              height: 40vh;

              .k-contents {}
            }

          }
        }
      }

      .holderCon {
        .holder {
          .holder-right {
            height: 45vh;
          }
        }
      }

      .communityCon {
        .community {
          .comm-contents {
            width: 79%;

            h1 {
              font-size: 30px;
              font-weight: 400;
            }

            p {
              font-size: 14px;
            }

            a {
              font-size: 15px;
              font-weight: 400;
            }
          }
        }
      }

      .selectCon {
        .select {
          width: 100%;

          .select-top {
            width: 86%;

            h1 {
              font-size: 33px;
            }

            h6 {
              left: unset;

            }
          }

          .select-bot {
            width: 85%;
            overflow-x: hidden;

            .k-pics {
              width: 100%;
              height: 40vh;

            }

          }
        }
      }
    }
  }
}

@media (width <=400px) {
  .startCon {
    .main-start {
      top: 18%;

      .godCon {
        .for-god {
          gap: 1.5rem;

          .god-text {
            position: relative;
            width: 100%;
            left: 4%;

            h1 {
              font-size: 47px;
            }
          }

          .text-vid {
            flex-direction: column-reverse;
            width: 95%;
            gap: 2rem;
            height: unset;
            position: relative;
            left: unset;

            .text-side {
              width: 81%;
              height: 100%;
              align-items: center;
              justify-content: center;


              p {
                font-weight: 200;
              }

              h3 {
                font-weight: 500;

              }
            }

            .video-side {
              width: 100%;
              height: 38vh; // bottom: unset;

              .video {
                position: relative;

                video {
                  position: relative;
                }
              }
            }

          }

        }
      }

      .jesusCon {
        width: 100%;
        // border: 1px solid white;

        .jesus {
          text-align: left;
          width: 100%;
          position: relative;
          left: 2%;

          h1 {
            font-size: 37px;
            font-weight: 300;
            width: 99%;

          }

          .jesus-text {
            width: 96%;
            font-size: 15px;
            word-spacing: 3px;
          }
        }
      }

      .welcomeCon {
        .welcome {
          .welcome-right {
            height: 35vh;
          }
        }
      }

      .signupCon {
        .signUp {
          width: 90%;
          gap: 2rem;

          h2 {
            // font-size: 21px;
          }
        }
      }

      .holderCon {
        .holder {
          .holder-right {
            height: 35vh;
          }
        }
      }
    }
  }
}

@media (width <=300px) {
  .startCon {
    .main-start {
      top: 18%;

      .godCon {
        .for-god {
          overflow-x: hidden;
          gap: 1.5rem;

          .god-text {
            position: relative;
            width: 100%;
            left: 4%;

            h1 {
              font-size: 48px;
            }
          }

          .text-vid {
            flex-direction: column-reverse;
            width: 90%;
            gap: 2rem;
            height: unset;
            position: relative;
            left: unset;

            .text-side {
              width: 81%;
              height: 100%;
              align-items: center;
              justify-content: center;


              p {
                font-weight: 200;
              }

              h3 {
                font-weight: 500;

              }
            }

            .video-side {
              width: 100%;
              height: 38vh; // bottom: unset;

              .video {
                position: relative;

                video {
                  position: relative;
                }
              }
            }

          }

        }
      }

      .signupCon {
        .signUp {
          width: 90%;
          gap: 2rem;

          h2 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (width <=2560px) and (width >=1750px) {
  .startCon {
    .main-start {
      top: 30%;

      .godCon {
        .for-god {
          .god-text {
            width: 58%;

            h1 {
              font-size: 79px;
            }
          }

          .text-vid {
            width: 65%;
            gap: 4rem;
            height: 71vh;
            left: 3%;
            position: relative;

            .text-side {
              margin-top: 1rem;
              width: 40%;
              height: 100%;
              align-items: center;
              justify-content: center;

              h3,
              p {
                font-weight: 200;
              }

              h3 {
                margin-bottom: 1rem;
              }

              p {
                margin-top: 1rem;
                font-size: 15.8px;
              }
            }

            .video-side {
              width: 45%;
              height: 100%;
              bottom: 5%;
            }
          }

        }
      }
    }
  }
}