.prayerCon{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: #1B1212;
    overflow: hidden;
    
    .prayer-pic{
        height: 94vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    // background-color: white;
        border: 1px solid white;


        position: relative;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .overlaid{
            position: absolute;
            z-index: 3;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .3);
            // border: 2px solid black;

        }
        .contents{
            position: absolute;
            z-index: 5;
            bottom: -5%;
            width: 30%;
            left: 3%;
            mix-blend-mode: difference;

            h1{
                font-size: 58px;
                color: white;
                font-weight: 400;
                line-height: 90%;
            }
        }
    }
    .requestCon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .request{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h1{
                font-size: 40px;
                font-weight: 600;
                word-spacing: 3px;
                padding-bottom: 1rem;
                text-align: center;
                border-bottom: 1px solid black;
            }
            
            form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 80%;
                //  justify-content: center;
                //     align-items: center;

                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    

                    li{
                        display: flex;
                        flex-direction: column;

                        label{
                            font-size: 11px;
                            font-weight: 600;
                            padding-bottom: 4px;
                            font-family: "GTAmerica";
                        }
                        input{
                            // width: 80%;
                            border: none;
                            outline: 0;
                            border-radius: 16px;
                            background: rgba(0, 0, 0, .1);
                            padding: 8px 7px;
                            font-size: 15px;
                            // box-shadow: ;
                        }
                        input:focus{
                            box-shadow: 0 0 7px #00FFFF;
                            // padding: 3px 0px 3px 3px;

                        }
                        textarea{
                            height: 5rem;
                            // width: 80%;
                            border: none;
                            outline: 0;
                            border-radius: 10px;
                            background: rgba(0, 0, 0, .1);
                            padding: 8px 7px;
                            line-height: 120%;
                            font-size: 15px;
                            // box-shadow: ;
                        }
                        textarea:focus{
                            box-shadow: 0 0 4px #000;
                            // padding: 3px 0px 3px 3px;

                        }
                        p{
                            font-size: 14px;
                            font-weight: 600;
                            padding-bottom: 4px; 
                        }
                        select{
                            border-radius: 16px;
                            padding: 8px 7px;
                            background: rgba(0, 0, 0, .1);
                            border: none;
                            outline: 0;

                           }
                    }
                }
                button{
                    width: 20%;
                    padding: 9px 7px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    border: none;
                    background: #000;
                    outline: none;
                    margin-bottom: 2rem;
                    transition: .3s ease-in-out;

                    &:hover{
                        border: 1px solid #fff;
                        background: aqua;
                        color: #000;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}